/* headlines styling*/
h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(74, 170, 165);
  }
  
  h1{
    font-size: 24px;
    font-weight: bold;
  }
  
  h2{
    font-size: 22px;
    font-weight: bold;
  }
  
  h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  

/* navbar styling*/
a.navbar-brand{
    margin-left: 10px;
    padding: 8px;
    background-color: rgb(74, 170, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
}

.navbar{
  padding-top:0px;
  padding-bottom: 0px;
}

.dropdown-menu {
    margin: 0;
}

/* body styling*/
body {
    background-color: rgb(237, 237, 237);
}

.summary {
    margin-top: 40px;
    padding: 30px;
    background-color: white;
}

p {
    color: grey;
}

.visualizations {
    margin-top: 40px;
    margin-left: 20px;
    padding: 30px;
    background-color: white;
}

.space {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* images styling*/ 
img {
  max-width: 100%;
}

.selected {
  border: rgb(74, 170, 165) 2px solid;
}

/*footer copyright styling*/
.copyright {
    width:100%;
    bottom:0;
    background-color: rgb(74, 170, 165);
    z-index:0;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
  }

/* small screen */
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(74, 170, 165)!important;
    }

    .navbar-nav {
      background-color: rgb(248, 249, 250)!important;
    }       

    .navbar{
      padding: 0;
      margin-left: 0;
      margin-right: 0;
   }

    body {
        background-color: white;
    }
}